.contenedor {
	width: 900px;
	height: 400px;
	padding: 5px
}

.cabecera {
	background-color: green;
	height: 50px;
	padding: 5px;
}

.barra-lateral {
	background-color: orange;
	float: left;
	width: 140px;
	height: 100%;
	padding: 5px
}

.contenido {
	background-color: gray;
	float: left;
	width: 740px;
	height: 100%;
	padding: 5px
}

.pie {
	background-color: blue;
	clear: both;
	padding: 5px
}